.banners-row {
  margin-bottom: 30px;
  &__item {
    display: block;
    transition: transform 0.2s ease 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__title {
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
  }
}
