.app-collections {
  &__title {
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
