.top-apps {
  &__title {
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    color: #000;
    margin-bottom: 5px;
    padding: 5px;
    transition: all 0.1s ease 0s;
    &:hover {
      color: #000;
      background-color: #ececec;
      border-radius: 5px;
    }
    &__number {
      margin-right: 10px;
    }
  }
  &__info {
    &__category {
      color: #797979;
    }
  }
}