.app-row {
  margin-bottom: 30px;
  &__item {
    img {
      margin-bottom: 10px;
      transition: transform 0.2s ease 0s;
      &:hover {
        transform: scale(1.1);
      }
    }
    display: block;
    &__title {
      color: #000;
    }
    &__category {
      color: #909090;
    }
    &__transactions {
      font-size: 12px;
      color: #909090;
    }
    &__btn {
      font-size: 14px !important;
      font-family: sans-serif !important;
      font-weight: 400 !important;
      padding: 3px 5px !important;
      width: 100%;
      text-align: left !important;
      margin-bottom: 10px !important;
    }
  }
}